<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.musicserver.mapper.AdminMapper">
    <resultMap type="com.example.musicserver.entity.Admin" id="AdminMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
    </resultMap>
    <!--根据username password 查询用户是否存在  这里映射-->
    <select id="verifyPassword" resultType="java.lang.Integer">
        select count(*) from admin where name = #{username} and password = #{password}
    </select>
</mapper>
